[Unit]
Description={{docker_container_name}} container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a {{docker_container_name}}
ExecStop=/usr/bin/docker stop -t 2 {{docker_container_name}}

[Install]
WantedBy=local.target
